<%- include('../partials/header') %>
    <h1>Skill Show</h1>
    <p>Skill: <%= skill.skill %> </p>
    <%= skill.isInteresting ? 'it is fun' : 'I do not care for it' %>
<%- include('../partials/footer')%>